@import '@fontsource-variable/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply dark:bg-slate-950 bg-[#f2f2f2];
  @apply dark:text-white text-black;
  @apply dark:bg-[radial-gradient(circle_at_top,_var(--tw-gradient-stops))]
         dark:from-[#333333] dark:via-[#0c0d11] dark:to-[#020617]
         bg-[radial-gradient(circle_at_top,_var(--tw-gradient-stops))]
         from-[#ebebeb] to-[#f2f2f2];
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
